body,html {
	height:100%;
	padding:0px;
	margin:0px;
}

/** Cielo **/
#sky {

    height: 70%;
    background-color: aqua;

}

/** Suelo **/
#ground {

    height: 30%;
    background-color: rgb(202, 132, 39);

}

/** Dinosaurio **/
#dino {

    height: 100px;
    width: 50px;
    background-color: black;
    position: relative;
    left: 20%;

}

/** Christian **/
#cactus{
    position:fixed;
    z-index:20;
    left:100%;
    bottom:30%;
    height: 65px;
    width: 50px;
    background-image: url(../img/cactus.png);
}

#pajaro{
    position:fixed;
    background-color: purple;
    z-index:20;
    left:100%;
    bottom:36%;
    height: 50px;
    width: 50px;
}

#puntuacion{
    top:5%;
    right:5%;
    height:80px;
    width:240px;
    background-color: blueviolet;
    z-index: 90;
    position:fixed;
    font-size:300%;
}